.head {
  width: 1502px;
  height: 70px;
  background-color: black;
}
.head .chooseLanguage {
  position: absolute;
  bottom: 150px;
  right: 1520px;
  z-index: 1;
  margin-left: 80px;
}
.head .chooseLanguage .glag {
  width: 20px;
  height: 20px;
}
.head .chooseLanguage .glag2 {
  width: 20px;
  height: 20px;
}
.head .chooseLanguage .glag3 {
  width: 20px;
  height: 20px;
}
.head .chooseLanguage .glag4 {
  width: 20px;
  height: 20px;
}
.head .chooseLanguage .glag5 {
  width: 18px;
  height: 18px;
}
.head .chooseLanguage .glag6 {
  width: 18px;
  height: 18px;
}
.head .chooseLanguage .threeflag {
  width: 20px;
  height: 20px;
}
.head .chooseLanguage h1 {
  color: #969696;
  font-size: 15px;
  margin-left: 160px;
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.head .chooseLanguage .downArrow {
  color: #969696;
  font-size: 11px;
  margin-left: 220px;
  top: 23px;
  position: absolute;
  cursor: pointer;
}
.head .list .heart-icon {
  position: absolute;
  margin-left: 1050px;
  top: 20px;
  font-size: 20px;
  color: #969696;
  cursor: pointer;
}
.head .list span {
  position: absolute;
  color: #969696;
  font-size: 15px;
  margin-left: 1080px;
  top: 17px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.head .compare .loading {
  position: absolute;
  margin-left: 1170px;
  top: 20px;
  font-size: 18px;
  color: #969696;
  cursor: pointer;
}
.head .compare span {
  position: absolute;
  color: #969696;
  font-size: 15px;
  margin-left: 1200px;
  top: 17px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.head .login .userLog {
  position: absolute;
  margin-left: 1300px;
  top: 20px;
  font-size: 15px;
  color: #969696;
  cursor: pointer;
}
.head .login span {
  position: absolute;
  color: #969696;
  font-size: 14px;
  margin-left: 1322px;
  top: 17px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.head .itemValyuta li {
  position: relative;
  margin-left: 80px;
  top: 50px;
  font-size: 15px;
  background-color: white;
  list-style: none;
}
.head .itemValyuta .usd {
  width: 250px;
  height: 50px;
  color: orangered;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}
.head .itemValyuta .euro {
  width: 250px;
  height: 50px;
  color: orangered;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

#header2 {
  width: 1502px;
  height: 90px;
  background-color: #EF6C00;
}
#header2 .firstImg img {
  position: absolute;
  margin-left: 90px;
  top: 90px;
}
#header2 .searchM {
  position: absolute;
  top: 90px;
  margin-left: -120px;
}
#header2 .searchM input {
  width: 520px;
  height: 50px;
}
#header2 .searchM button {
  position: absolute;
  height: 50px;
  width: 130px;
  background-color: #333333;
  border: none;
}

.first12 {
  position: absolute;
  bottom: 500px;
  left: 130px;
  z-index: 1 !important;
}

.dropdown {
  width: 100px;
  margin-left: 80px;
  margin-top: 12px;
}
.dropdown .button {
  background-color: black;
  border: none;
  color: #969696;
}

.dropdown-menu .firstflag {
  width: 20px;
  height: 20px;
}
.dropdown-menu .secondflag {
  width: 20px;
  height: 20px;
}
.dropdown-menu .threeflag {
  width: 20px;
  height: 20px;
}
.dropdown-menu .fourflag {
  width: 20px;
  height: 20px;
}

.contact {
  position: relative;
}
.contact i {
  position: absolute;
  margin-left: 130px;
  top: 30px;
  font-size: 30px;
  color: white;
}
.contact .helpline {
  position: absolute;
  margin-left: 150px;
  top: 23px;
  font-size: 12px;
  color: white;
}
.contact .number {
  position: absolute;
  margin-left: 167px;
  top: 37px;
  font-size: 24px;
  color: aliceblue;
}
.contact .icon2 {
  cursor: pointer;
  left: 220px;
  font-size: 20px;
}
.contact .price {
  position: absolute;
  left: 372px;
  top: 40px;
  color: white;
}
.contact .basketCount {
  position: absolute;
  background-color: black;
  color: white;
  left: 370px;
  border-radius: 11px;
  height: 17px;
  width: 17px;
  top: 18px;
}
.contact .basketCount .count {
  position: absolute;
  bottom: 1px;
  font-size: 12px;
  left: 5px;
}
.contact .basketUp {
  border-radius: 7px;
  position: absolute;
  width: 220px;
  height: 100px;
  background-color: white;
  top: 80px;
  right: -90px;
  z-index: 5;
}
.contact .basketUp h1 {
  position: absolute;
  color: #000;
  font-size: 15px;
  top: 15px;
}
.contact .basketUp span {
  position: absolute;
  color: black;
  left: 150px;
  top: 10px;
  font-size: 15px;
}
.contact .basketUp .itemWor {
  margin-left: 15px;
  top: 13px;
  font-size: 12px;
}
.contact .basketUp .addProd {
  position: absolute;
  color: #000;
  top: 70px;
  right: 30px;
  width: 150PX;
}
.contact .basketUp .checkCard {
  position: absolute;
  left: 10px;
}
.contact .basketUp .checkCard b {
  font-size: 13px;
}
.contact .basketUp .lineProduct {
  position: absolute;
  width: 200px;
  height: 1px;
  background-color: black;
  left: 15px;
  top: 40px;
}

.one1 {
  position: absolute;
  background-color: #f3f3f3 !important;
}

.pages {
  background-color: #F3F3F3 !important;
  bottom: 13px;
  margin-left: 150px;
}

.dropdown1 span {
  padding: 10px;
  top: 70px;
  font-size: 20px;
  height: 60px;
  margin-left: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.banner1 {
  width: 1300px;
  height: 130px;
  border: 1px solid black;
  opacity: 0.3;
}

.pagesChange {
  color: black;
}
.pagesChange span:hover {
  background-color: #F3F3F3;
}

.dollar {
  font-size: 10px;
  height: 20px;
  width: 30px;
  color: white;
  margin-left: 20px;
  background-color: orange;
  padding: 4px;
}

.euro {
  font-size: 10px;
  height: 20px;
  width: 30px;
  color: white;
  margin-left: 20px;
  background-color: orange;
  padding: 4px;
}

.secondNav {
  background-color: #f3f3f3;
}
.secondNav .container {
  max-width: 95% !important;
}
.secondNav .nvbar {
  background-color: #f3f3f3 !important;
}
.secondNav .nvbar .navbar-nav {
  display: flex;
  gap: 70px;
}
.secondNav .nvbar .nav-item a {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.secondNav .pagesone {
  bottom: -30px;
  margin-left: -40px;
}
.secondNav .one1 {
  top: -12px;
  margin-left: -20px;
}
.secondNav .blogchange {
  margin-left: -70px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 15;
}

p {
  margin: 0;
  padding: 0;
}

#nav-up {
  background: #222 !important;
}
#nav-up .up {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-up .up .hamburger-menu {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 20px;
  color: #EF6C00;
}
#nav-up .up .sidebar {
  width: 245px;
  background-color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  z-index: 5;
  transition: all 0.4s;
}
#nav-up .up .sidebar .x-icon {
  margin: 15px 0 0 15px;
  font-size: 25px;
  background: rgba(255, 192, 203, 0.6509803922);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 8px 0 0 13px;
  color: rgba(255, 0, 0, 0.4784313725);
}
#nav-up .up .sidebar .sidebar-list {
  padding: 10px 0 0 20px;
}
#nav-up .up .sidebar .sidebar-list a {
  text-decoration: none;
  color: black;
  width: 100%;
  font-size: 17px;
  line-height: 35px;
}
#nav-up .up .sidebar .sidebar-list .sidebar-pages-list {
  padding: 30px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0px;
  top: 270px;
  z-index: 1;
  transition: all 0.4s;
}
#nav-up .up .hide-sidebar {
  transform: translate(-260px);
}
#nav-up .up .left {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
#nav-up .up .left .currency {
  color: rgba(245, 235, 235, 0.8784313725);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
#nav-up .up .left i {
  color: rgba(188, 179, 179, 0.6392156863);
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 37px;
}
#nav-up .up .left .valyuta {
  width: 220px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.54);
  position: absolute;
  top: 53px;
  left: -3px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
  display: grid;
  align-content: center;
}
#nav-up .up .left .valyuta button {
  border-color: white;
  background-color: white;
  border: none;
  height: 56px;
  cursor: pointer;
}
#nav-up .up .left .valyuta button:hover {
  background-color: rgb(247, 247, 247);
}
#nav-up .up .left .valyuta button p {
  background-color: #EF6C00;
  color: white;
  width: 40px;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 12px;
}
#nav-up .up .language {
  position: relative;
  gap: 2px;
  margin-top: 0px;
  margin-left: 100px;
}
#nav-up .up .language a {
  text-decoration: none;
}
#nav-up .up .language a span {
  color: #c3c3c3;
}
#nav-up .up .language a img {
  width: 18px;
  height: 13px;
  margin-right: 5px;
}
#nav-up .up .language a i {
  color: rgba(195, 195, 195, 0.7098039216);
  margin-left: 42px !important;
  position: absolute;
  top: 2px;
  font-size: 13px;
}
#nav-up .up .language-area {
  position: absolute;
  padding-top: 3px;
  padding-bottom: 3px;
  top: 50px;
  left: 30px;
  background-color: white;
  width: 221px;
  border-radius: 5px;
  color: #333 !important;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 5;
}
#nav-up .up .language-area button {
  justify-content: center;
  width: 100%;
  height: 48px;
  padding-left: 8px;
  display: flex;
  border: none;
  flex-direction: column;
  background-color: white;
  border-bottom-color: #c3c3c3;
  cursor: pointer;
}
#nav-up .up .language-area button:hover {
  background-color: rgb(247, 247, 247);
}
#nav-up .up .language-area button img {
  position: absolute;
  width: 18px;
  height: 13px;
}
#nav-up .up .language-area button span {
  margin-left: 24px;
  font-size: 14px;
}
#nav-up .up .right {
  display: flex;
  justify-content: space-between;
  width: 320px;
  font-size: Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
}
#nav-up .up .right .wishlist {
  transition: all 0.5s;
}
#nav-up .up .right .wishlist:hover {
  opacity: 0.7;
}
#nav-up .up .right .compare {
  transition: all 0.5s;
}
#nav-up .up .right .compare:hover {
  opacity: 0.7;
}
#nav-up .up .right .my-account {
  transition: all 0.4s;
}
#nav-up .up .right .my-account:hover {
  opacity: 0.7;
}
#nav-up .up .right a {
  color: #c3c3c3;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

#nav-area {
  background-color: #ef6c00;
}
#nav-area .img-log {
  width: 140px;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-area .img-log img {
  width: 140px;
  height: 40px;
}
#nav-area .input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  margin-left: 30px;
}
#nav-area .input-area input {
  width: 100%;
  height: 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px #fff;
  transition: box-shadow 0.3s;
  padding: 0 0 0 12px;
  float: left;
}
#nav-area .input-area button {
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 140px;
  height: 40px;
  transition: all 0.25s;
  background-color: #333;
  color: white;
  border: none;
}
#nav-area .cal-bucket {
  position: relative;
  gap: 13px;
  margin-left: 89px;
  display: flex;
  height: 67px;
}
#nav-area .cal-bucket .div-icon {
  margin-top: 29px;
}
#nav-area .cal-bucket .div-icon i {
  font-size: 29px;
  color: white;
}
#nav-area .cal-bucket .div-phone {
  width: 145px;
  position: relative;
}
#nav-area .cal-bucket .div-phone p {
  top: 25px;
  font-weight: 600;
  top: 25px;
  position: absolute;
  font-size: 12px;
  color: #fff;
}
#nav-area .cal-bucket .div-phone span {
  position: absolute;
  top: 41px;
  font-size: 20px;
  font-weight: 600;
  color: #fff !important;
}
#nav-area .cal-bucket .cart {
  position: absolute;
  right: 22px;
  top: 34px;
  transition: all 0.4s;
}
#nav-area .cal-bucket .cart:hover {
  background-color: #d2700f;
}
#nav-area .cal-bucket .cart i {
  color: white;
  font-size: 19px;
}
#nav-area .cal-bucket .cart span {
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-size: 15px;
}
#nav-area .cal-bucket .cart .count {
  position: absolute;
  bottom: 17px;
  right: 29px;
  background-color: black;
  border-radius: 50%;
  width: 20px;
  font-size: 12px;
  height: 20px;
  padding-left: 4px;
}
#nav-area .spCard-dropdown {
  position: absolute;
  padding-top: 3px;
  padding-bottom: 3px;
  right: 32px;
  top: 131px;
  background-color: white;
  width: 246px;
  border-radius: 5px;
  color: #333 !important;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 5;
}
#nav-area .spCard-dropdown a {
  text-decoration: none;
}
#nav-area .spCard-dropdown a p {
  top: 5px;
  position: relative;
  color: #444;
  font-size: 14px;
  font-weight: 500;
}
#nav-area .spCard-dropdown .count {
  bottom: 73px;
  left: 180px;
  position: absolute;
  color: #444;
  font-size: 14px;
  font-weight: 500;
}
#nav-area .spCard-dropdown .alert {
  height: 1px;
  position: relative;
  left: 26px;
  bottom: 12px;
}

#nav-down {
  height: 65px;
  background-color: #F3F3F3;
}
#nav-down .down {
  display: flex;
  height: 65px;
  position: relative;
}
#nav-down .down a {
  text-decoration: none;
  color: black;
}
#nav-down .down .item {
  font-weight: 600;
  font-size: 14px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  width: 155px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
#nav-down .down .item:hover {
  background-color: rgba(217, 213, 213, 0.5);
}
#nav-down .down .pages {
  position: relative;
}
#nav-down .down .pages i {
  position: absolute;
  bottom: 27px;
  right: 40px;
  color: #4b4848;
}
#nav-down .down .pages-list {
  display: flex;
  flex-direction: column;
  z-index: 20;
  width: 200px;
  position: absolute;
  top: 60px;
  left: 465px;
  padding: 3px 0 3px 0;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
}
#nav-down .down .pages-list a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.0392156863);
  line-height: 48px;
  height: 48px;
  text-align: left;
  text-decoration: none;
  width: 100%;
  background-color: white;
}
#nav-down .down .pages-list a:hover {
  background-color: rgb(247, 247, 247);
}
#nav-down .down .pages-list a p {
  margin-left: 15px;
}

#title {
  border-bottom: 1px solid rgba(128, 128, 128, 0.1019607843);
}
#title .page-title {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
#title .page-title .left {
  font-weight: 500;
}
#title .page-title .right ul {
  display: flex;
}
#title .page-title .right ul li:nth-child(1) {
  margin-right: 10px;
}
#title .page-title .right ul li:nth-child(2) {
  margin-right: 10px;
}
#title .page-title .right ul li a {
  text-decoration: none;
  color: black;
}

.input-box {
  padding: 20px;
}

.login .input-section {
  display: flex;
  justify-content: space-between;
}
.login .input-section .input1 {
  width: 49% !important;
}
.login .input-section .input2 {
  width: 49% !important;
}

.register {
  margin-right: 15px;
}

.inputs-area h3 {
  position: relative;
  font-size: 28px;
  text-align: left;
  color: #383838;
  font-weight: 600;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
.inputs-area form p {
  position: relative;
  top: 5px;
  font-size: 15px;
  font-weight: 400;
  line-height: 0px;
  color: rgba(0, 0, 0, 0.41);
  font-family: Roboto, Helvetica Neue, sans-serif;
}
.inputs-area form .group {
  position: relative;
  margin-top: 30px;
}
.inputs-area form .group input,
.inputs-area form .group textarea {
  font-size: 14px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #949494;
  outline: none;
}
.inputs-area form .group input:focus ~ label, .inputs-area form .group input:valid ~ label,
.inputs-area form .group textarea:focus ~ label,
.inputs-area form .group textarea:valid ~ label {
  top: -8px;
  font-size: 10px;
}
.inputs-area form .group input:focus ~ .bar::before, .inputs-area form .group input:focus ~ .bar::after,
.inputs-area form .group textarea:focus ~ .bar::before,
.inputs-area form .group textarea:focus ~ .bar::after {
  width: 50%;
}
.inputs-area form .group input {
  padding: 10px 0 10px 5px;
}
.inputs-area form .group textarea {
  height: 110px;
  padding: 10px 0 0 5px;
  resize: vertical;
}
.inputs-area form .group label {
  color: #999;
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.4s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.inputs-area form .group .bar {
  position: relative;
  display: block;
  width: 100%;
}
.inputs-area form .group .bar::before, .inputs-area form .group .bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--beforeAndAfterBack, #ef6c00);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  z-index: 1;
}
.inputs-area form .group .bar::before {
  left: 50%;
}
.inputs-area form .group .bar::after {
  right: 50%;
}
.inputs-area form .group .validation {
  font-size: 10px;
  color: red;
  transition: 0.4s;
  opacity: 0;
}
.inputs-area form button {
  width: 150px;
  height: 50px;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  background-color: #ef6c00;
  margin-bottom: 20px;
  font-weight: 500;
  cursor: pointer;
}
.inputs-area form .btnRegister {
  width: 100px;
  height: 45px;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
  background-color: #ef6c00;
  margin-bottom: 20px;
  font-weight: 500;
  cursor: pointer;
}

.order {
  width: 100%;
  border: 1px solid rgb(223, 222, 222);
  padding: 30px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.order .texts span {
  font-size: 20px;
  font-weight: 500;
}
.order .texts span:nth-child(2) {
  float: right;
  width: 35%;
  font-weight: 500;
  font-size: 16px;
}
.order .border {
  margin-top: 20px;
}
.order p {
  margin-top: 20px;
}
.order .text {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.order .text .text1 span {
  font-weight: 500;
}
.order .text .text2 {
  float: right;
  width: 35%;
  font-weight: 500;
}
.order .text .text2 span {
  color: red;
  font-size: 20px;
}
.order .borders1 {
  margin-top: 35px;
}
.order .text11 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.order .text11 .text1 span {
  font-weight: 500;
}
.order .text11 .text2 {
  float: right;
  width: 35%;
  font-weight: 500;
}
.order .text11 .text2 span {
  color: red;
  font-size: 20px;
}
.order button {
  background-color: #EF6C00;
  border: none;
  width: 155px;
  height: 45px;
  border-radius: 3px;
  margin-top: 35px;
  display: block;
}
.order button span {
  color: white;
  font-weight: 500;
}
.order .payment {
  gap: 5px;
  display: inline-grid;
  margin-top: 35px;
}
.order .payment .bank {
  gap: 10px;
  display: flex;
  align-items: center;
}
.order .payment .bank span {
  font-weight: 400;
  font-size: 14px;
  color: gray;
  font-family: revert;
}
.order .payment input {
  transition: accent-color ease 280ms;
  accent-color: #F3392C;
  cursor: pointer;
  height: 30px;
  width: 20px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#footer {
  background-color: #F7F7F7;
}
#footer .sophia {
  margin-top: 55px;
}
#footer .sophia p {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
#footer .sophia .link {
  margin-top: 10px;
}
#footer .sophia .link a {
  text-decoration: none;
  color: black;
  margin-top: 5px;
}
#footer .services {
  margin-top: 55px;
}
#footer .services h5 {
  font-size: 22px;
}
#footer .service-list ul {
  padding: 0px;
  line-height: 35px;
}
#footer .service-list ul li a {
  text-decoration: none;
  color: black;
}
#footer .subscribe {
  margin-top: 55px;
}
#footer .input {
  margin-top: 15px;
  height: 45px;
  background: #fff;
  font-size: 15px;
  line-height: 42px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 0 65px 0 20px;
  color: #777;
}
#footer button {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  padding: 0 10px;
  text-align: center;
  z-index: 222;
  color: #fff;
  border-radius: 3px;
  line-height: 45px;
  width: 100%;
  background-color: #ef6c00;
}
#footer .contact-us {
  margin-top: 55px;
}
#footer .contact-us .tel-box {
  display: flex;
}
#footer .contact-us .tel-box .text {
  padding-left: 10px;
}
#footer .contact-us .icons ul {
  display: flex;
  justify-content: space-around;
  margin-right: 80px;
  padding: 0;
  margin-top: 35px;
}
#footer .contact-us .icons ul li {
  border: 1px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 6px;
}
#footer .contact-us .icons ul li a {
  color: black;
}

@media (max-width: 576px) {
  .right {
    display: none !important;
  }
  #nav-up {
    height: 80px;
  }
  #nav-up .up {
    justify-content: center !important;
  }
  #nav-up .up .left .language span {
    display: none !important;
  }
  #nav-up .up .left .language i {
    position: absolute;
    left: -15px;
    top: 3px;
  }
  #nav-area .logo {
    display: flex !important;
    justify-content: center !important;
  }
  #nav-area .cal-bucket {
    bottom: 30px;
  }
  #nav-area .cal-bucket .cart-phone {
    margin-left: 15px;
  }
  #nav-area .cal-bucket .div-icon {
    margin-left: 16px;
  }
  #nav-area .cal-bucket .cart {
    margin-right: 85px;
  }
  .swiper-slide .shop {
    width: 180px;
    bottom: 30px;
    left: 15px;
  }
  .swiper-slide h3 {
    bottom: 75px;
    left: 16px !important;
  }
  .swiper-slide h1 {
    position: absolute;
    top: 33px !important;
    left: 15px !important;
    font-size: 29px !important;
  }
  .swiper-slide .sale {
    top: 11px !important;
    width: 100px !important;
    font-size: 29px !important;
  }
  .swiper-slide .text {
    font-size: 24px;
  }
  .main .tab .tab-menu-link {
    width: 35% !important;
  }
  .main .tab .tab-menu-link span {
    font-size: 14px;
    color: #736c6c;
  }
  #banners .new-laptops {
    width: 513px;
  }
  #banners .right2 .tablet {
    margin-top: 10px;
    width: 513px;
  }
  #banners .right2 .cameras {
    margin-top: 10px;
    width: 513px;
  }
  #banners .right2 .offer-cameras {
    margin-top: 10px;
    width: 513px;
  }
  #footer .contact-us .tel-box .text {
    margin-right: 240px;
  }
  #footer .contact-us .tel-box .email p {
    margin-right: 80px;
  }
  #footer .contact-us .icons ul {
    justify-content: space-between;
    margin-right: 350px;
    margin-top: 20px;
  }
  #footer .contact-us .icons ul li {
    height: 35px;
    width: 35px;
    text-align: center;
    padding-top: 4px;
  }
}
@media all and (min-width: 576px) and (max-width: 769px) {
  #nav-up {
    height: 80px;
  }
  #nav-up .left {
    left: 90px;
  }
  #nav-up .left .language {
    margin-left: 30px !important;
  }
  #nav-up .left .language span {
    display: none !important;
  }
  #nav-up .left .language i {
    position: absolute;
    left: -15px;
    top: 3px;
  }
  #nav-area .input-area {
    position: relative;
    bottom: 30px;
  }
  #nav-area .input-area input {
    width: 60%;
  }
  #nav-area .input-area .btn-search {
    width: 100px;
  }
  #nav-area .logo {
    display: flex !important;
    justify-content: center !important;
  }
  #nav-area .img-log img {
    width: 100px;
    height: 50px;
  }
  #nav-area .cal-bucket {
    bottom: 40px;
  }
  #nav-area .cal-bucket .cart-phone {
    margin-left: 15px;
  }
  #nav-area .cal-bucket .div-icon {
    margin-left: 130px;
  }
  #nav-area .cal-bucket .cart {
    margin-right: 130px;
  }
  .swiper-slide .shop {
    width: 180px;
    bottom: 30px;
    left: 15px;
  }
  .swiper-slide h3 {
    bottom: 75px;
    left: 16px !important;
  }
  .swiper-slide h1 {
    position: absolute;
    top: 114px !important;
    left: 15px !important;
    font-size: 29px !important;
  }
  .swiper-slide .text {
    font-size: 33px;
  }
  .main .tab .tab-menu-link {
    width: 27% !important;
  }
  .main .tab .tab-menu-link span {
    font-size: 13px;
    color: #736c6c;
  }
  #banners .new-laptops {
    width: 700px;
  }
  #banners .right2 {
    position: relative;
    bottom: 336px;
  }
  #banners .offer-cameras {
    width: 331px;
    top: 26px;
    height: 332px;
    background-size: cover;
    background-position: 50%;
  }
  #banners .offer-cameras h2 {
    font-size: 25px;
    font-weight: 600;
  }
  #banners .offer-cameras p {
    top: 146px;
  }
  #banners .offer-cameras .btn-price {
    bottom: 106px !important;
    height: 47px;
    width: 108px !important;
  }
  #banners .tablet {
    top: 350px;
    width: 357px;
    left: 342px;
  }
  #banners .cameras {
    left: 342px;
    width: 357px;
    top: 358px;
  }
  .cols {
    position: relative;
    bottom: 310px;
  }
  .col1 {
    position: relative;
    bottom: 80px;
  }
  #footer {
    position: relative;
    bottom: 50px;
  }
  #footer .col2 {
    position: relative;
    bottom: 65px;
  }
  #footer .col2 .contact-us {
    letter-spacing: -1px;
  }
  #footer .col2 .contact-us .tel-box .text p {
    margin-right: 65px;
  }
  #footer .col2 .contact-us .icons {
    position: relative;
    bottom: 17px;
  }
  #footer .col2 .contact-us .icons ul {
    margin-right: 170px;
  }
  #footer .col2 .contact-us .icons ul li {
    height: 35px;
    width: 35px;
    padding-top: 5px;
  }
}
#footer {
  margin-top: 20px;
}
#footer .servicesFooter a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
#footer .servicesFooter h6 {
  font-size: 20px;
}
#footer .logoSopia p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#footer .searchFooter h6 {
  font-size: 20px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
#footer .searchFooter a {
  text-decoration: none;
  font-weight: 600;
}
#footer .searchFooter input {
  width: 260px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black !important;
}
#footer .buttonFooter {
  margin-top: 20px;
  width: 260px;
  height: 45px;
  background-color: #ef6c00;
}
#footer .buttonFooter .subs {
  font-size: 15px;
  color: white;
}
#footer .contactFooter h6 {
  font-size: 20px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
#footer .contactFooter i {
  font-size: 18px;
}
#footer .iconsf0 li {
  width: 33px;
  height: 33px;
  border: 1px solid #444;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
}
#footer .circleIcon {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid black;
  justify-content: space-around;
}
#footer .circleIcon2 {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid black;
  justify-content: space-around;
  margin-left: 5px;
}
#footer .circleIcon3 {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid black;
  justify-content: space-around;
  margin-left: 5px;
}
#footer .circleIcon4 {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid black;
  justify-content: space-around;
  margin-left: 5px;
}
#footer .iconDown {
  margin-left: 10px;
  justify-content: space-between;
}
#footer .iconDown i {
  margin-top: 6px;
  margin-left: -3px;
  font-size: 15px;
}

.secondNav {
  background-color: #f3f3f3;
}
.secondNav .container {
  max-width: 95% !important;
}
.secondNav .nvbar {
  background-color: #f3f3f3 !important;
}
.secondNav .nvbar .navbar-nav {
  display: flex;
  gap: 70px;
}
.secondNav .nvbar .nav-item a {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.secondNav .pagesone {
  bottom: -30px;
  margin-left: -40px;
}
.secondNav .one1 {
  top: -12px;
  margin-left: -20px;
}
.secondNav .blogchange {
  margin-left: -70px;
}

.list .texdec {
  text-decoration: none;
  color: gray;
}

.login .texdec {
  text-decoration: none;
  color: gray;
}/*# sourceMappingURL=check.css.map */