.head {
    width: 1502px;
    height: 70px;
    background-color: black;
    




    .chooseLanguage {
        position: absolute;
        bottom: 145px;
        right: 1520px;
        z-index: 1;
        

        .glag {
           
            width: 20px;

            height: 20px;
        }

        .glag2 {
           
            width: 20px;

            height: 20px;
        }
        
        .glag3 {
           
            width: 20px;

            height: 20px;
        }

        .glag4 {
           
            width: 20px;

            height: 20px;
        }

        .glag5 {
           
            width: 18px;

            height: 18px;
        }

         .glag6 {
           
            width: 18px;

            height: 18px;
        }

        .threeflag{
            width: 20px;
            height: 20px;
        }

        margin-left: 80px;

        h1 {
            color: #969696;
            font-size: 15px;
            margin-left: 160px;
            position: absolute;
            top: 20px;
            cursor: pointer;


        }



        .downArrow {
            color: #969696;
            font-size: 11px;
            margin-left: 220px;
            top: 23px;
            position: absolute;
            cursor: pointer;
        }
    }
    .list {
        .heart-icon {
            position: absolute;
            margin-left: 1050px;
            top: 20px;
            font-size: 20px;
            color: #969696;
            cursor: pointer;
        }

        span {
            position: absolute;
            color: #969696;
            font-size: 15px;
            margin-left: 1080px;
            top: 17px;
            cursor: pointer;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    .compare {
        .loading {
            position: absolute;
            margin-left: 1170px;
            top: 20px;
            font-size: 18px;
            color: #969696;
            cursor: pointer;
        }

        span {
            position: absolute;
            color: #969696;
            font-size: 15px;
            margin-left: 1200px;
            top: 17px;
            cursor: pointer;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    .login {
        .userLog {
            position: absolute;
            margin-left: 1300px;
            top: 20px;
            font-size: 15px;
            color: #969696;
            cursor: pointer;

        }

        span {
            position: absolute;
            color: #969696;
            font-size: 14px;
            margin-left: 1322px;
            top: 17px;
            cursor: pointer;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    .itemValyuta {




        li {

            position: relative;
            margin-left: 80px;
            top: 50px;

            font-size: 15px;
            background-color: white;
            list-style: none;


        }

        .usd {
            width: 250px;
            height: 50px;
            color: orangered;
            background-color: white;
            padding: 5px;
            cursor: pointer;
            z-index: 1;

        }

        .euro {
            width: 250px;
            height: 50px;
            color: orangered;
            background-color: white;
            padding: 5px;
            cursor: pointer;
            z-index: 1;
        }
    }
}



#header2 {
    width: 1502px;
    height: 90px;
    background-color: #EF6C00;

    .firstImg {
        img {
            position: absolute;
            margin-left: 90px;
            top: 90px;
        }
    }

    .searchM {
        position: absolute;

        top: 90px;
        margin-left: -120px;

        input {

            width: 520px;
            height: 50px;


        }

        button {
            position: absolute;
            height: 50px;
            width: 130px;
            background-color: #333333;

            border: none;


        }
    }
}

.first12 {
    position: absolute;
    bottom: 500px;
    left: 130px;
    z-index: 1 !important;
}


.dropdown {
    width: 100px;
    margin-left: 80px;
    margin-top: 12px;




    .button {
        background-color: black;
        border: none;
        color: #969696;
        ;
    }
}

.dropdown-menu {


    .firstflag {
        width: 20px;
        height: 20px;
    }

    .secondflag {
        width: 20px;
        height: 20px;

    }

    .threeflag {
        width: 20px;
        height: 20px;
    }

    .fourflag {
        width: 20px;
        height: 20px;
    }
}



.contact {
    position: relative;

    i {
        position: absolute;
        margin-left: 130px;
        top: 30px;
        font-size: 30px;
        color: white;
    }

    .helpline {
        position: absolute;
        margin-left: 150px;
        top: 23px;
        font-size: 12px;
        color: white;
    }

    .number {
        position: absolute;
        margin-left: 167px;
        top: 37px;
        font-size: 24px;
        color: aliceblue;
    }

    .icon2 {
        cursor: pointer;
        left: 220px;
        font-size: 20px;
    }

    .price {
        position: absolute;
        left: 372px;
        top: 40px;
        color: white;
    }

    .basketCount {
        position: absolute;
        background-color: black;
        color: white;
        left: 370px;

        border-radius: 11px;
        height: 17px;
        width: 17px;
        top: 18px;


        .count {
            position: absolute;
            bottom: 1px;
            font-size: 12px;
            left: 5px;
        }



    }

    .basketUp{
        border-radius: 7px;
        position: absolute;
        width: 220px;
        height: 100px;
        background-color: white;
        top: 80px;
       right: -90px;
        z-index: 5;
        h1{
            position: absolute;
            color: #000;
            font-size: 15px;
            top: 15px;
            
        }
        span{
            position: absolute;
            color: black;
            left: 150px;
            top: 10px;
            font-size: 15px;
        }
        .itemWor{
            margin-left: 15px;
            top: 13px;
            font-size: 12px;
        }

        .addProd{
            position: absolute;
            color: #000;
            top: 70px;
            right: 30px;
            width: 150PX;

        }

        .checkCard{
            position: absolute;
            left: 10px;
            b{
                font-size: 13px;
            }
        }

        .lineProduct{
            position: absolute ;
            width: 200px;
            height: 1px;
            background-color: black;
            left: 15px;
            top: 40px;

        }

           
        
    }
}
.one1 {
    position: absolute;
    background-color: #f3f3f3 !important;



    
}

.secondNav {
    background-color: #f3f3f3;

    .container {
        max-width: 95% !important;
    }

    .nvbar {
        background-color: #f3f3f3 !important;

        .navbar-nav {

            display: flex;
            gap: 70px;
        }

        .nav-item {

            a {
                color: black;
                font-size: 15px;
                font-weight: 600;
            }
        }




    }

    .pagesone {

     margin-top: 10px;
        
    }

    .one1 {
        top: -17px;
        margin-left: -20px;
    }

    .blogchange {
        margin-left: -70px;
    }

}

.itemValyuta {




    li {

        position: relative;
        margin-left: 80px;
        top: 50px;

        font-size: 15px;
        background-color: white;
        list-style: none;


    }

    .usd {
        width: 250px;
        height: 50px;
        color: orangered;
        background-color: white;
        padding: 5px;
        cursor: pointer;
        z-index: 1;

    }

    .euro {
        width: 250px;
        height: 50px;
        color: orangered;
        background-color: white;
        padding: 5px;
        cursor: pointer;
        z-index: 1;
    }
}
.dollar {

    font-size: 10px;
    height: 20px;
    width: 30px;
    color: white;
    margin-left: 20px;
    background-color: orange;
    padding: 4px;






}

.euro {
    font-size: 10px;
    height: 20px;
    width: 30px;
    color: white;
    margin-left: 20px;
    background-color: orange;
    padding: 4px;

}


#breadcrumb-section {
    border-bottom: 1px solid #f3f3f3;

    .carts {

        display: flex;
        justify-content: space-between;
        margin-top: 17px;


    }

    .left {
        margin-left: 22px;

        h4 {
            padding-top: 5px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            font-family: Roboto, Arial, Helvetica, sans-serif;
        }
    }

    .right {
        ul {
            display: flex;
            gap: 4px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 14px;
                    color: #555;
                }
            }
        }
    }


}

#products {
    .basket-products {
        margin-top: 53px;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, .12) !important;
        border-radius: 4px;
        background: #fff;

        .table {
            tr {
                display: flex;
                justify-content: center;

                




                th {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom-width: 0px;
                    width: 314px !important;
                    text-align: center;
                    height: 60px;
                    padding: 0 24px;
                    color: rgba(0, 0, 0, .54);
                    font-size: 14px;
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                    border-color: black;

                    button {
                        border-color: #f33927;
                        background-color: #f33927;
                    }
                }
            }

            tbody {
                     tr{
                        display: flex;
                        justify-content: center;
                     }
                td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 314px !important;
                    height: 103px;
                    color: rgba(0, 0, 0, .87);
                    font-size: 1rem;
                    text-decoration: none;
                    font-weight: 500;
        
                    &:nth-child(2) {
                      width: 300px;
                    }
        
                    &:nth-child(3) {
                        
                        font-size: 21px;
                        font-weight: 500;
        
                    }
        
        
                    a {
                        color: rgba(0, 0, 0, .87);
                        font-size: 1rem;
                        text-decoration: none;
                        font-weight: 500;
        
                    }
        
                    img {
                        padding-left: 47px;
                        height: 101px;
                    }
        
                    .btn {
                        margin-top: 13px;
                        background-color: #ef6c00;
                        border-color: #ef6c00;
                        text-align: center;
                        cursor: pointer;
                        width: 181px;
                        height: 49px;
        
                        a {
                            color: #fff;
                            font-size: 1rem;
                            text-decoration: none;
                            font-weight: 500;
                        }
                    }
        
        
        
        
        
                }
       
        
            }
        }

    }


}




*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

//footer

#footer {
    background-color: #F7F7F7;

    .sophia {
        margin-top: 55px;

        p {
            line-height: 26px;
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px;
        }

        .link {
            margin-top: 10px;

            a {
                text-decoration: none;
                color: black;
                margin-top: 5px;
            }
        }

    }

    .services {
        margin-top: 55px;

        h5 {

            font-size: 22px;
        }

    }

    .service-list {
        ul {
            padding: 0px;
            line-height: 35px;

            li {
                a {
                    text-decoration: none;
                    color: black;
                }

            }

        }

    }

    .subscribe {
        margin-top: 55px;

    }

    .input {
        margin-top: 15px;
        height: 45px;
        background: #fff;
        font-size: 15px;
        line-height: 42px;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        padding: 0 65px 0 20px;
        color: #777;
    }

    button {
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        margin-top: 20px;
        padding: 0 10px;
        text-align: center;
        z-index: 222;
        color: #fff;
        border-radius: 3px;
        line-height: 45px;
        width: 100%;
        background-color: #ef6c00;
    }

    .contact-us {
        margin-top: 55px;
        line-height: 14px;
        .tel-box {
            display: flex;
            justify-content: flex-start;

            .text {
                margin-left: 10px;
            }

            .email {
                margin-right: 75px;
            }
        }

        .icons {
            ul {
                display: flex;
                justify-content: space-around;
                margin-right: 80px;
                padding: 0;
                margin-top: 10px;

                li {
                    border: 1px solid black;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    padding-top: 10px;

                    a {
                        color: black;
                    }
                }
            }
        }
    }

}



    .main {
        .tab {
            .tab-menu-link {
                width: 27% !important;

                span {
                    font-size: 13px;
                    color: #736c6c;
                }
            }
        }
    }


    #banners {

        .new-laptops {
            width: 700px;
        }

        .right2 {
            position: relative;
            bottom: 336px;
        }

        .offer-cameras {

            width: 331px;
            top: 26px;
            height: 332px;
            background-size: cover;
            background-position: 50%;

            h2 {
                font-size: 25px;
                font-weight: 600;
            }

            p {
                top: 146px;
            }

            .btn-price {


                bottom: 106px !important;
                height: 47px;
                width: 108px !important;
            }
        }

        .tablet {

            top: 350px;
            width: 357px;
            left: 342px;
        }

        .cameras {


            left: 342px;

            width: 357px;
            top: 358px;

        }
    }






    #footer {
        margin-top: 20px;
    
        .servicesFooter {
            a {
                text-decoration: none;
                font-size: 15px;
                font-weight: 600;
            }
    
            h6 {
                font-size: 20px;
            }
        }
    
        .logoSopia {
            p {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
            }
        }
    
        .searchFooter {
            h6 {
                font-size: 20px;
                font-family: Roboto, Arial, Helvetica, sans-serif;
                ;
            }
    
            a {
                text-decoration: none;
    
                font-weight: 600;
            }
    
            input {
                width: 260px;
                height: 50px;
                border-radius: 5px;
                border: 1px solid black !important;
    
    
    
            }
    
    
        }
    
        .buttonFooter {
            margin-top: 20px;
            width: 260px;
            height: 45px;
            background-color: #ef6c00;
    
            .subs {
                font-size: 15px;
                color: white
            }
        }
    
        .contactFooter {
            h6 {
                font-size: 20px;
                line-height: 24px;
                font-family: Arial, Helvetica, sans-serif;
                ;
    
    
            }
    
            i {
                font-size: 18px;
            }
        }
    
        .iconsf0 {
    
            li {
                width: 33px;
                height: 33px;
                border: 1px solid #444;
                border-radius: 50%;
                text-align: center;
                margin-right: 5px;
    
            }
    
        }
    
        .circleIcon {
            width: 30px;
            height: 30px;
            border-radius: 25px;
            border: 1px solid black;
            justify-content: space-around;
        }
    
        .circleIcon2 {
            width: 30px;
            height: 30px;
            border-radius: 25px;
            border: 1px solid black;
            justify-content: space-around;
            margin-left: 5px;
        }
    
        .circleIcon3 {
            width: 30px;
            height: 30px;
            border-radius: 25px;
            border: 1px solid black;
            justify-content: space-around;
            margin-left: 5px;
        }
    
        .circleIcon4 {
            width: 30px;
            height: 30px;
            border-radius: 25px;
            border: 1px solid black;
            justify-content: space-around;
            margin-left: 5px;
        }
    
        .iconDown {
            margin-left: 10px;
            justify-content: space-between;
    
            i {
                margin-top: 6px;
                margin-left: -3px;
                font-size: 15px;
            }
        }
    }

    #bar {
        .dropdown {
            width: 40px;
            background-color: white;
    
    
            button {
                background-color: aliceblue;
                color: black;
            }
        }
    }
    
    #slideshow {
        margin: 0 auto;
        position: relative;
        width: 100%;
        padding: 1% 1% 45% 1%;
        top: -13px;
    
    
        box-sizing: border-box;
    
        &>div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
    
            &>img {
                width: 100%;
                height: 100%;
                // border-radius: 20px;
            }
        }
    }
    
    #slideshow:hover i,
    #slideshow:hover .slider-dots {
        opacity: 1;
    }
    
    .slidebtn {
        z-index: 99;
        background: transparent;
        outline: none;
        border: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    
    }
    
    .slidebtn:active,
    .slidedtn:focus {
        outline: none;
    }
    
    .prev {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
    }
    
    .next {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
    }
    
    .slider-dots {
        opacity: 0.2;
        list-style: none;
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0;
        position: absolute;
        left: 50%;
        bottom: 3%;
        transform: translate(-50%, 0);
        z-index: 99;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    
        li {
            color: #000;
            display: inline;
            font-size: 48px;
            margin-right: 5px;
            cursor: pointer;
    
            &.active-dot {
                color: #fff;
            }
        }
    }
    
    .fa-chevron-circle-right {
        display: none !important;
    }
    
    .fa-chevron-circle-left {
        display: none !important;
    }
    
    .dropdown1 {
        background-color: #F3F3F3;
        top: 60px;
        left: 10px;
        gap: 15px
    }
    
    .one1 {
        position: absolute;
        background-color: #f3f3f3 !important;
    
    
    
    }
    
    .pages {
    
        background-color: #F3F3F3 !important;
        bottom: 13px;
        margin-left: 150px;
    }
    
    .dropdown1 span {
        padding: 10px;
        top: 70px;
        font-size: 20px;
        height: 60px;
        margin-left: 70px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    
    }
    
    .banner1 {
        width: 1300px;
        height: 130px;
        border: 1px solid black;
        opacity: 0.3;
    }
    
    .pagesChange {
        span:hover {
            background-color: #F3F3F3;
        }
    
        color: black;
    }
    
    .dollar {
    
        font-size: 10px;
        height: 20px;
        width: 30px;
        color: white;
        margin-left: 20px;
        background-color: orange;
        padding: 4px;
    
    
    
    
    
    
    }
    
    .euro {
        font-size: 10px;
        height: 20px;
        width: 30px;
        color: white;
        margin-left: 20px;
        background-color: orange;
        padding: 4px;
    
    }

    .itemNav{
        margin-left: 30px;
    }

    .nav-link{
        margin-left: 50px;
    }

    .pagesone{
        left: 30px;
    }

    .list{
        .texdec{
            text-decoration: none;
            color: gray
        }
     }
    
     .login{
        .texdec{
            text-decoration: none;
            color: gray
        }
     }

     .alertvish{
        width: 350px;
        margin-left: 450px;
     }